---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import RecapImageSection from "@components/ui/blocks/RecapImageSection.astro";

// Extract properties from Astro.props
const {
  title,
  description,
  btnExists,
  btnTitle,
  btnURL,
  imagePosition = "right", // Default to right for backward compatibility
  imgOne,
  imgOneAlt,
  imgTwo,
  organizer,
  github,
  location,
  imgTwoAlt,
  logo,
  logoAlt,
  githubExists,
  youtubeExists,
  youtube,
  photoExists,
  photoURL,
} = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title: string;
  description: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  imagePosition?: "left" | "right";
  location: string;
  organizer: string;
  github?: string;
  imgOne?: any;
  imgOneAlt?: any;
  imgTwo?: any;
  imgTwoAlt?: any;
  logo?: any;
  logoAlt: string | null;
  githubExists?: boolean;
  youtubeExists?: boolean;
  youtube?: string;
  photoExists?: boolean;
  photoURL?: string;
}
---

<section
  class="mx-auto max-w-[85rem] items-center gap-16 px-4 py-10 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 2xl:max-w-full"
>
  {imagePosition === "left" &&
    <RecapImageSection
      imgOne={imgOne}
      imgOneAlt={imgOneAlt}
      imgTwo={imgTwo}
      imgTwoAlt={imgTwoAlt}
      photoURL={photoURL}
    />
  }
  <div class="mt-4 md:mt-0">
    <a name={logoAlt}></a>
    <h2
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
      {title}
    </h2>
    <!-- The organizer of the event -->
    <p
    class="mb-4 max-w-prose text-pretty font-light text-blue-600 dark:text-blue-100 sm:text-lg"
  >
    Hosted by {organizer} in {location}.
  </p>
  <!-- The logo image -->
  <Image
    class="max-h-20 w-1/4 my-6"
    src={logo}
    alt={logoAlt}
  />
  <p
    class="mb-4 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-lg"
  >
    {description}
  </p>
      <!-- Conditional rendering of the photo image -->
  {photoExists ?  <p
    class="mb-4 max-w-prose text-pretty underline font-light text-neutral-600 dark:text-neutral-200 sm:text-lg"
  ><a href={photoURL} target="_blank" rel="noopener noreferrer">Check out the photos</a></p> : null}
    <!-- Conditional rendering of GitHub & YouTube links -->
    {githubExists ? <PrimaryCTA title="View team repositories" url={github} /> : null}
    {youtubeExists ? <SecondaryCTA title="View team presentations" url={youtube} /> : null}

  <!-- Conditionally render the Primary CTA button if btnExists is true -->
  {btnExists ? <PrimaryCTA title={btnTitle} url={btnURL} /> : null}
  </div>

  {imagePosition === "right" &&
    <RecapImageSection
      imgOne={imgOne}
      imgOneAlt={imgOneAlt}
      imgTwo={imgTwo}
      imgTwoAlt={imgTwoAlt}
      photoURL={photoURL}
    />
  }
</section>
